<footer>
    <div class="press-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-2"><a href="https://www.helloasso.com/presse"><img src="/images/v2/helloasso-footer-presse-les-echos.png" class="img-responsive"></a></div>
                <div class="col-xs-6 col-sm-4 col-md-2"><a href="https://www.helloasso.com/presse"><img src="/images/v2/helloasso-footer-presse-france-2.png" class="img-responsive"></a></div>
                <div class="col-xs-6 col-sm-4 col-md-2"><a href="https://www.helloasso.com/presse"><img src="/images/v2/helloasso-footer-presse-le-monde.png" class="img-responsive"></a></div>
                <div class="col-xs-6 col-sm-4 col-md-2"><a href="https://www.helloasso.com/presse"><img src="/images/v2/helloasso-footer-presse-bfm.png" class="img-responsive"></a></div>
                <div class="col-xs-6 col-sm-4 col-md-2"><a href="https://www.helloasso.com/presse"><img src="/images/v2/helloasso-footer-presse-la-tribune.png" class="img-responsive"></a></div>
                <div class="col-xs-6 col-sm-4 col-md-2"><a href="https://www.helloasso.com/presse"><img src="/images/v2/helloasso-footer-presse-france-info.png" class="img-responsive"></a></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container container">
            <div class="footer-col">
                <h4 class="footer-title">à propos</h4>
                <a href="https://www.helloasso.com/comment-ca-marche">Nos outils</a>
                <a href="https://www.helloasso.com/qui-sommes-nous">Qui sommes-nous ?</a>
                <a href="https://www.helloasso.com/qui-sommes-nous">Le manifeste</a>
                <a href="https://www.helloasso.com/equipe">L'équipe</a>
                <a href="https://www.welcometothejungle.co/companies/helloasso/jobs">Jobs</a>
                <a href="https://www.helloasso.com/presse">Presse</a>
                <a href="https://mecenat.helloasso.com/">Entreprises</a>
                <a href="https://www.helloasso.com/statistiques-avis">Nos statistiques</a>
            </div>
            <div class="footer-col">
                <h4 class="footer-title">Nos outils</h4>
                <a href="https://www.helloasso.com/gerer-mes-adhesions">Adhésion</a>
                <a href="https://www.helloasso.com/crowdfunding">Crowdfunding</a>
                <a href="https://www.helloasso.com/collecter-mes-dons">Don</a>
                <a href="https://www.helloasso.com/vendre-mes-billets">Billetterie</a>
                <a href="https://www.helloasso.com/integrer-un-formulaire">Formulaire</a>
                <a href="https://www.helloasso.com/peer-to-peer">Collecteur</a>
                <a href="https://www.helloasso.com/tarifs">Combien ça coûte ?</a>
                <a href="https://www.helloasso.com/annuaire">L'annuaire HelloAsso</a>
            </div>
            <div class="footer-col">
                <h4 class="footer-title">Aide</h4>
                <a href="https://www.helloasso.com/comment-ca-marche">Comment ça marche ?</a>
                <a href="http://localhost:1129/accompagnement">L'accompagnement</a>
                <a href="https://helloasso.zendesk.com/hc/fr" target="_blank" rel="noopener noreferrer">Le centre d'aide</a>
                <a href="https://rencontres.helloasso.com/">Les Ateliers HelloAsso</a>
                <a href="https://academie.helloasso.com">L'Académie</a>
                <a href="https://www.helloasso.com/expert">Les Experts</a>
                <a href="https://www.helloasso.com/quizz">Testez-vous</a>
                <a href="https://www.helloasso.com/paiement-securise">Paiements sécurisés</a>
            </div>
            <div class="footer-col">
                <h4 class="footer-title">Contact</h4>
                <div class="footer-col-social">
                    <div>
                        <a href="https://www.facebook.com/helloasso" target="_blank" rel="noopener noreferrer"><span class="social-facebook"><i class="fa fa-facebook"></i></span>Facebook</a>
                        <a href="https://twitter.com/helloasso" target="_blank" rel="noopener noreferrer"><span class="social-twitter"><i class="fa fa-twitter"></i></span>Twitter</a>
                        <a href="https://www.youtube.com/channel/UCYz5xk40Yayisba7qTjHAdQ" target="_blank" rel="noopener noreferrer"><span class="social-youtube"><i class="fa fa-youtube"></i></span>YouTube</a>
                    </div>
                    <div>
                        <a href="https://www.helloasso.com/contact"><span class="social-mail"><i class="fa fa-envelope"></i></span>Contact</a>
                        <a href="http://blog.helloasso.com/" target="_blank" rel="noopener noreferrer"><span class="social-blog"><i class="fa fa-pencil"></i></span>Notre blog</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-mentions center">
                <img src="/images/v2/helloasso-logo-gris.png" class="footer-logo" />
                <span class="caption">Tous droits réservés - Copyright @DateTime.Today.Year</span>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="bottom-footer-container container center">
            <div class="under-footer cgu">
                <p class="caption">
                    <a href="https://www.helloasso.com/cgu-association">CGU Association</a>
                    <a href="https://www.helloasso.com/cgu-utilisateur">CGU Utilisateur</a>
                    <a href="https://www.helloasso.com/mentions-legales">Mentions légales</a>
                    <a href="https://www.helloasso.com/confidentialite">Politique de confidentialité</a>
                </p>
            </div>
            <div class="under-footer lemonway">
                <span class="caption">Tous droits réservés - Copyright @DateTime.Today.Year - </span>
                <img src="/images/v2/helloasso-logo-gris.png" class="footer-logo" />
                <p class="caption">HelloAsso est inscrit à l'ORIAS sous le numero 17002233 et est partenaire de <a href="https://www.lemonway.com/" target="_blank" alt="Lemonway"><img src="/images/v2/helloasso-lemonway-grey.svg" class="footer-logo" /></a>, établissement de paiement agréé par l’ACPR en France le 24/12/2012 sous le numéro 16568J.</p>
            </div>
        </div>
    </div>
</footer>