<div class="new-header">
    <div class="helloasso-header">
        <div class="header-container container-fluid">
            <button type="button" class="mobile-menu" data-toggle="collapse" data-target="#menu"></button>
            <nav>
                <a href="/"><img src="~/images/v2/helloasso-logo.png" alt="HelloAsso" class="helloasso-logo" /></a>
                <div class="header-menu-right">
                </div>
            </nav>
        </div>
    </div>
</div>