.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1em 0;

    @media (min-width: $largephone) {
        flex-direction: row;
        margin: 3rem 0;
    }
    
    @media (min-width: $largedesktop) {
        margin: 10rem 0;
    }

    > .list-item {
        width: 100%;
        display: flex;
        
        @media (min-width: $largephone) {
            width: 50%;
        }

        &:hover {
            text-decoration: none;
        }

        &:nth-of-type(1) {
            order: 2;
            padding-bottom: 1em;

            @media (min-width: $largephone) {
                order: 1;
                padding: 0 1em 0 0;
            }

            @media (min-width: $largedesktop) {
                padding: 0 1em 0 5rem;
            }
        }

        &:nth-of-type(2) {
            order: 1;
            padding-bottom: 1em;

            @media (min-width: $largephone) {
                order: 2;
                padding: 0 0 0 1em;
            }

            @media (min-width: $largedesktop) {
                order: 2;
                padding: 0 5rem 0 1em;
            }
        }
    }
}

.list-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: $color-text;
    text-align: center;
    background-color: #fff;
    border-radius: $border-radius-base;
    box-shadow: 0 .5rem 2rem 0 rgba(46, 47, 94, .05);
    transition: all $animation-duration $animation-timing;
    
    @media (min-width: $largephone) {
        padding: 3rem;
    }

    @media (min-width: $largedesktop) {
        padding: 5rem;
        flex-direction: column; 
    }

    &:hover {
        box-shadow: 0 .5rem 3rem 0 rgba(46, 47, 94, .15);
        transform: translateY(-.3rem);
    }

    &.list-content-key {
        span {
            color: $color-primary;
            background-color: transparent;
            box-shadow: inset 0 0 0 .2rem $color-primary;
        }
    }

    span {
        min-width: 4.8rem;
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
        color: #fff;
        font-size: 2rem;
        background-color: $color-primary;
        border-radius: 100%;
        transition: all $animation-duration $animation-timing;
        
        @media (min-width: $largephone) {
            min-width: 5.6rem;
            width: 5.6rem;
            height: 5.6rem;
            margin-bottom: 2rem;
            font-size: 2.4rem;
        }
        
        @media (min-width: $largedesktop) {
            min-width: 6.4rem;
            width: 6.4rem;
            height: 6.4rem;
            margin-bottom: 3rem;
        }
    }

    h3 {
        margin: 0;
        font-weight: 600;

        i {
            margin-left: .5em;
        }
    }
}