.theme-indigo {
    p > a,
    section li > a,
    .btn-secondary,
    .github-corner svg,
    .menu,
    .open-menu,
    .sidebar a.current,
    .list-content.list-content-key span {
        color: $helloasso-indigo;
    }

    .btn-secondary:hover {
        color: #fff;
    }

    header,
    .btn-primary,
    .fill:before,
    .fill-to-left:before,
    .fill-to-right:before,
    .sidebar-nav a:before,
    .summary h4:after,
    .summary li:before,
    thead td,
    thead th,
    .list-content span,
    .page-switch a:before,
    .back-to-top:hover,
    .back-to-top:focus,
    .back-to-top:active {
        background-color: $helloasso-indigo;
    }

    .btn-primary:hover,
    .btn-secondary:hover {
        background-color: darken($helloasso-indigo, 5%);
    }

    .btn-secondary,
    .list-content.list-content-key span {
        box-shadow: inset 0 0 0 .2rem $helloasso-indigo;
    }

    .btn-secondary:hover {
        box-shadow: inset 0 0 0 .2rem darken($helloasso-indigo, 5%);
    }
}
