article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  height: 100%;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 62.5%;
  color: #444;
  line-height: 1.5;
  box-sizing: border-box; }

body {
  margin: 0;
  font-size: 1.4rem;
  background-color: #f8f9fa; }
  @media (min-width: 768px) {
    body {
      font-size: 1.6rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.2;
  margin: 0 0 1em; }

h1 {
  font-size: 3rem; }
  @media (min-width: 480px) {
    h1 {
      font-size: 3.6rem; } }
  @media (min-width: 768px) {
    h1 {
      font-size: 4.2rem; } }

h2 {
  font-size: 2.4rem;
  font-weight: 600; }
  @media (min-width: 768px) {
    h2 {
      font-size: 3.4rem; } }

h3 {
  font-size: 2rem;
  font-weight: 400; }
  @media (min-width: 768px) {
    h3 {
      font-size: 2.4rem; } }

h4 {
  font-size: 1.8rem; }
  @media (min-width: 768px) {
    h4 {
      font-size: 2rem; } }

h5 {
  font-size: 1.6rem; }
  @media (min-width: 768px) {
    h5 {
      font-size: 1.8rem; } }

p {
  margin: 0 0 1em; }

a {
  color: #7cb342;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.65, 0, 0.45, 1); }
  a:hover {
    text-decoration: underline; }
  a:focus {
    outline: none;
    text-decoration: none; }
  a.link-block {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

hr {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 0;
  margin: 2em 0; }

.fill-to-left, .fill-to-right {
  position: relative;
  overflow: hidden; }
  .fill-to-left:hover:before, .fill-to-right:hover:before {
    transform: translate3d(0, 0, 0); }
  .fill-to-left:before, .fill-to-right:before {
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #7cb342;
    transition: all 250ms cubic-bezier(0.65, 0, 0.45, 1); }

.fill-to-left:before {
  right: 0;
  transform: translate3d(100%, 0, 0); }

.fill-to-right:before {
  left: 0;
  transform: translate3d(-100%, 0, 0); }

.btn {
  cursor: pointer;
  appearance: none;
  display: inline-block;
  margin: .6rem 0;
  padding: .6rem 1.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  border: none;
  border-radius: 4px;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 250ms cubic-bezier(0.65, 0, 0.45, 1); }
  @media (min-width: 480px) {
    .btn {
      ppadding: 1rem 2rem;
      font-size: 1.5rem; } }
  .btn:hover, .btn:focus, .btn:active {
    color: #fff;
    outline: none;
    text-decoration: none; }
  .btn.disabled, .btn:disabled {
    pointer-events: none;
    cursor: default;
    color: #9e9e9e;
    background-color: #9e9e9e; }
  .btn i {
    transition: none; }

.btn-lg {
  padding: 1.5rem 2rem;
  font-size: 1.5rem; }
  @media (min-width: 480px) {
    .btn-lg {
      padding: 2rem 4rem;
      font-size: 2rem; } }

.btn-primary {
  color: #fff;
  background-color: #7cb342; }
  .btn-primary:hover {
    background-color: #6fa03b; }
  .btn-primary:focus, .btn-primary:active {
    background-color: #628e34; }

*[class$="-arrow-left"],
*[class$="-arrow-right"] {
  padding: 0; }

@media (min-width: 768px) {
  *[class$="-arrow-left"] {
    padding: 0 1rem 0 0; } }

@media (min-width: 768px) {
  *[class$="-arrow-right"] {
    padding: 0 0 0 1rem; } }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.list-styled,
  ol.list-styled {
    margin: 0 0 1em; }
    ul.list-styled li,
    ol.list-styled li {
      position: relative;
      padding-left: 2rem; }
      ul.list-styled li:before,
      ol.list-styled li:before {
        position: absolute;
        content: '-';
        left: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

.logo-wrapper a {
  color: #444;
  text-decoration: none; }
  .logo-wrapper a:before {
    display: none; }

.logo {
  max-width: 18rem; }
  @media (min-width: 480px) {
    .logo {
      max-width: 20rem; } }

.table-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 2em 0;
  overflow-x: auto; }

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }
  thead th,
  thead td {
    font-weight: 600;
    color: #fff;
    background-color: #7cb342; }

tbody {
  vertical-align: top; }
  tbody tr:nth-of-type(even) {
    background-color: #fff; }

th,
td {
  padding: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; }
  @media (min-width: 992px) {
    .wrapper {
      padding-left: 30rem; } }

.main {
  margin-top: 2.5rem; }
  @media (min-width: 768px) {
    .main {
      margin-top: 5rem; } }

.container {
  margin: 0 auto;
  padding: 0 1.5rem; }
  @media (min-width: 768px) {
    .container {
      width: 85%;
      padding: 0; } }
  @media (min-width: 992px) {
    .container {
      width: 75%; } }

.center {
  margin: 0 auto;
  text-align: center; }

header {
  padding: 6.5rem 0 1rem;
  color: #fff;
  background-color: #7cb342; }
  @media (min-width: 992px) {
    header {
      padding: 5rem 0; } }
  header h1 {
    margin: 0; }
  header h2 {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5); }

footer {
  padding: 2rem 0; }
  @media (min-width: 768px) {
    footer {
      padding: 2.5rem 0; } }
  footer p {
    margin: 0;
    color: #9e9e9e;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      footer p {
        font-size: 1.4rem; } }

.sidebar {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 25rem;
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
  overflow-y: auto;
  backface-visibility: hidden;
  will-change: transform;
  transform: translateX(-30rem);
  transition: all 250ms cubic-bezier(0.65, 0, 0.45, 1); }
  @media (min-width: 480px) {
    .sidebar {
      width: 30rem; } }
  @media (min-width: 992px) {
    .sidebar {
      transform: translateX(0); } }
  .sidebar.open {
    transform: translateX(0);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25), 0 0 0 9999px rgba(0, 0, 0, 0.5); }
  .sidebar .sidebar-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .sidebar > div {
    position: relative;
    min-height: 100%;
    padding-bottom: 8rem;
    box-sizing: border-box; }
    @media (min-width: 480px) {
      .sidebar > div {
        padding-bottom: 10rem; } }
  .sidebar .logo-wrapper {
    padding: 2rem 2rem 0; }
    @media (min-width: 480px) {
      .sidebar .logo-wrapper {
        padding: 3rem 2rem 1rem; } }
  .sidebar .version-number {
    color: #9e9e9e; }
  .sidebar .sidebar-nav {
    padding-bottom: 4rem; }
    .sidebar .sidebar-nav a {
      position: relative;
      padding: .8rem 1.5rem;
      display: block;
      font-size: 1.3rem;
      font-weight: 600;
      color: #444; }
      @media (min-width: 480px) {
        .sidebar .sidebar-nav a {
          padding: 1rem 2rem;
          font-size: 1.4rem; } }
      .sidebar .sidebar-nav a:hover {
        text-decoration: none; }
        .sidebar .sidebar-nav a:hover:before {
          opacity: .1; }
      .sidebar .sidebar-nav a.current {
        font-weight: 700;
        color: #7cb342; }
      .sidebar .sidebar-nav a:before {
        position: absolute;
        z-index: 0;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #7cb342;
        opacity: 0; }
  .sidebar .collapsible {
    display: none; }
    .sidebar .collapsible.collapsed {
      display: block; }
    .sidebar .collapsible a {
      padding: .8rem 1.5rem .8rem 3rem;
      font-weight: 400; }
      @media (min-width: 480px) {
        .sidebar .collapsible a {
          padding: 1rem 2rem 1rem 4rem; } }
  .sidebar .theme-selector {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    color: #9e9e9e;
    font-size: 1.3rem; }
    @media (min-width: 480px) {
      .sidebar .theme-selector {
        padding: 1.5rem;
        font-size: 1.4rem; } }
  .sidebar .themes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem; }
  .sidebar .theme, .sidebar li[class^="theme-"] {
    position: relative;
    flex: 1 1 auto;
    width: 2.4rem;
    max-width: 2.4rem;
    height: 2.4rem;
    max-height: 2.4rem;
    border-radius: 50%;
    cursor: pointer; }
    @media (min-width: 480px) {
      .sidebar .theme, .sidebar li[class^="theme-"] {
        width: 2.8rem;
        max-width: 2.8rem;
        height: 2.8rem;
        max-height: 2.8rem; } }
    .sidebar .theme.theme-active:before, .sidebar li.theme-active[class^="theme-"]:before, .sidebar .theme:hover:before, .sidebar li[class^="theme-"]:hover:before {
      opacity: 1; }
    .sidebar .theme.theme-active, .sidebar li.theme-active[class^="theme-"] {
      cursor: default;
      pointer-events: none; }
    .sidebar .theme:before, .sidebar li[class^="theme-"]:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 3.4rem;
      max-width: 3.4rem;
      height: 3.4rem;
      max-height: 3.4rem;
      border: 0.2rem solid #ddd;
      border-radius: 50%;
      opacity: 0;
      transform: translate3d(-50%, -50%, 0); }
      @media (min-width: 480px) {
        .sidebar .theme:before, .sidebar li[class^="theme-"]:before {
          width: 4rem;
          max-width: 4rem;
          height: 4rem;
          max-height: 4rem; } }
  .sidebar .theme-default {
    background-color: #7cb342; }
    .sidebar .theme-default.theme-active:before {
      border-color: #7cb342; }
  .sidebar .theme-orange {
    background-color: #f28f48; }
    .sidebar .theme-orange.theme-active:before {
      border-color: #f28f48; }
  .sidebar .theme-purple {
    background-color: #d66ea6; }
    .sidebar .theme-purple.theme-active:before {
      border-color: #d66ea6; }
  .sidebar .theme-blue {
    background-color: #4f8b9c; }
    .sidebar .theme-blue.theme-active:before {
      border-color: #4f8b9c; }
  .sidebar .theme-night-mode {
    background-color: #444; }
    .sidebar .theme-night-mode.theme-active:before {
      border-color: #444; }

article + article {
  margin-top: 2.5rem; }
  @media (min-width: 768px) {
    article + article {
      margin-top: 5rem; } }
  article + article h2 {
    border-top: 1px solid #ddd; }

article section + section {
  margin-top: 2.5rem; }

article h2 {
  padding-top: 2rem;
  color: #7cb342; }
  @media (min-width: 768px) {
    article h2 {
      padding-top: 4rem; } }

article h3,
article h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

article h4 {
  margin: 0 0 .75em; }

.open-menu {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  min-width: 4rem;
  min-height: 4rem;
  padding: .5rem 1rem;
  color: #7cb342;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 4px; }
  @media (min-width: 992px) {
    .open-menu {
      display: none; } }
  .open-menu:hover {
    cursor: pointer; }

.summary {
  position: relative;
  padding: 0 0 2.5rem; }
  @media (min-width: 768px) {
    .summary {
      padding: 0 0 5rem; } }
  .summary h4 {
    position: relative;
    padding: 0 0 1rem;
    color: #9e9e9e;
    font-weight: 400; }
    @media (min-width: 768px) {
      .summary h4 {
        padding: .5em 0 1rem; } }
    .summary h4:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 33.33%;
      height: .2rem;
      background-color: #7cb342; }
      @media (min-width: 768px) {
        .summary h4:after {
          width: 25%; } }
  .summary li {
    position: relative;
    padding-left: 2rem;
    line-height: 2em; }
    .summary li:hover:before {
      opacity: 1; }
    .summary li:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: .5rem;
      height: .5rem;
      background-color: #7cb342;
      opacity: 0;
      transform: translateY(-50%); }
  .summary a {
    font-size: 2rem;
    font-weight: 600; }
    .summary a:hover {
      text-decoration: none; }

.back-to-top {
  position: fixed;
  top: 50%;
  display: none;
  border-radius: 4px;
  color: #9e9e9e;
  background-color: transparent;
  transition: all 250ms cubic-bezier(0.65, 0, 0.45, 1);
  transform: translateY(-50%); }
  @media (min-width: 768px) {
    .back-to-top {
      right: .5rem;
      width: 5rem;
      height: 5rem;
      display: block;
      padding: .5rem;
      font-size: 1.1rem; } }
  @media (min-width: 992px) {
    .back-to-top {
      right: 1rem;
      width: 7rem;
      height: 7rem;
      padding: 1rem;
      font-size: 1.3rem; } }
  .back-to-top:hover {
    color: #fff;
    background-color: #6fa03b;
    text-decoration: none; }
  .back-to-top:focus, .back-to-top:active {
    color: #fff;
    background-color: #628e34; }
  .back-to-top i {
    font-size: 2rem; }
    @media (min-width: 992px) {
      .back-to-top i {
        font-size: 3rem; } }

.page-switch {
  display: flex;
  justify-content: center;
  padding-top: 4rem; }
  @media (min-width: 768px) {
    .page-switch {
      padding-top: 8rem; } }
  .page-switch a {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 2.4rem;
    font-weight: 600;
    color: #9e9e9e;
    transition: all 250ms cubic-bezier(0.65, 0, 0.45, 1); }
    @media (min-width: 768px) {
      .page-switch a {
        padding: 2.5rem 0;
        font-size: 2rem; } }
    .page-switch a:hover {
      color: #fff;
      text-decoration: none; }
    .page-switch a i,
    .page-switch a span {
      position: relative;
      z-index: 5; }
    .page-switch a span {
      display: none; }
      @media (min-width: 768px) {
        .page-switch a span {
          display: inline-block; } }

.theme-orange p > a,
.theme-orange .menu,
.theme-orange .open-menu,
.theme-orange .sidebar a.current,
.theme-orange .summary a,
.theme-orange article h2 {
  color: #f28f48; }

.theme-orange header,
.theme-orange .btn-primary,
.theme-orange .fill:before,
.theme-orange .fill-to-left:before,
.theme-orange .fill-to-right:before,
.theme-orange .sidebar-nav a:before,
.theme-orange .summary h4:after,
.theme-orange .summary li:before,
.theme-orange thead td,
.theme-orange thead th,
.theme-orange .page-switch a:before,
.theme-orange .back-to-top:hover {
  background-color: #f28f48; }

.theme-orange .btn-primary:hover,
.theme-orange .back-to-top:focus,
.theme-orange .back-to-top:active {
  background-color: #f08030; }

.theme-orange .btn-primary:focus,
.theme-orange .btn-primary:active {
  background-color: #ef7218; }

.theme-purple p > a,
.theme-purple .menu,
.theme-purple .open-menu,
.theme-purple .sidebar a.current,
.theme-purple .summary a,
.theme-purple article h2 {
  color: #d66ea6; }

.theme-purple header,
.theme-purple .btn-primary,
.theme-purple .fill:before,
.theme-purple .fill-to-left:before,
.theme-purple .fill-to-right:before,
.theme-purple .sidebar-nav a:before,
.theme-purple .summary h4:after,
.theme-purple .summary li:before,
.theme-purple thead td,
.theme-purple thead th,
.theme-purple .page-switch a:before,
.theme-purple .back-to-top:hover {
  background-color: #d66ea6; }

.theme-purple .btn-primary:hover,
.theme-purple .back-to-top:focus,
.theme-purple .back-to-top:active {
  background-color: #d05a9a; }

.theme-purple .btn-primary:focus,
.theme-purple .btn-primary:active {
  background-color: #cb468e; }

.theme-blue p > a,
.theme-blue .menu,
.theme-blue .open-menu,
.theme-blue .sidebar a.current,
.theme-blue .summary a,
.theme-blue article h2 {
  color: #4f8b9c; }

.theme-blue header,
.theme-blue .btn-primary,
.theme-blue .fill:before,
.theme-blue .fill-to-left:before,
.theme-blue .fill-to-right:before,
.theme-blue .sidebar-nav a:before,
.theme-blue .summary h4:after,
.theme-blue .summary li:before,
.theme-blue thead td,
.theme-blue thead th,
.theme-blue .page-switch a:before,
.theme-blue .back-to-top:hover {
  background-color: #4f8b9c; }

.theme-blue .btn-primary:hover,
.theme-blue .back-to-top:focus,
.theme-blue .back-to-top:active {
  background-color: #467c8b; }

.theme-blue .btn-primary:focus,
.theme-blue .btn-primary:active {
  background-color: #3e6d7a; }

.theme-night-mode {
  color: #fff;
  background-color: #323232; }
  .theme-night-mode p > a,
  .theme-night-mode .summary a,
  .theme-night-mode article h2,
  .theme-night-mode .back-to-top:hover {
    color: #fff; }
  .theme-night-mode .menu,
  .theme-night-mode .open-menu,
  .theme-night-mode .sidebar a.current,
  .theme-night-mode .back-to-top:focus,
  .theme-night-mode .back-to-top:active {
    color: #323232; }
  .theme-night-mode header,
  .theme-night-mode .btn-primary:hover,
  .theme-night-mode .fill:before,
  .theme-night-mode .fill-to-left:before,
  .theme-night-mode .fill-to-right:before,
  .theme-night-mode .sidebar-nav a:before,
  .theme-night-mode .summary h4:after,
  .theme-night-mode thead td,
  .theme-night-mode thead th,
  .theme-night-mode .page-switch a:before,
  .theme-night-mode .back-to-top:hover {
    background-color: #444; }
  .theme-night-mode .btn-primary:focus,
  .theme-night-mode .btn-primary:active,
  .theme-night-mode tbody tr:nth-of-type(even) {
    background-color: #373737; }
  .theme-night-mode .sidebar {
    background-color: #f8f9fa; }
  .theme-night-mode .summary li:before,
  .theme-night-mode .back-to-top:focus,
  .theme-night-mode .back-to-top:active {
    background-color: #fff; }
  .theme-night-mode .btn-primary {
    color: #323232;
    background-color: #fff; }
    .theme-night-mode .btn-primary:hover, .theme-night-mode .btn-primary:focus, .theme-night-mode .btn-primary:active {
      color: #fff; }

.page-title-home .version-number {
  margin: 0;
  padding-top: 1rem;
  color: #fff; }

.page-content-home {
  margin: 0; }
  .page-content-home > a {
    margin: 2.5rem 0; }
    @media (min-width: 768px) {
      .page-content-home > a {
        margin: 5rem 0; } }
    .page-content-home > a i {
      padding: 0 0 0 1rem; }

/* http://prismjs.com/download.html?themes=prism&languages=markup+json */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
pre[class*="language-"] {
  border-radius: 4px; }

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 2em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

