figure {
	margin: 0;
}

img,
picture {
	margin: 0;
	max-width: 100%;
}

.logo-wrapper {
	a {
		color: $color-text;
		text-decoration: none;

		&:before {
			display: none;
		}
	}
}

.logo {
	max-width: 18rem;
	
	@media (min-width: $largephone) {
		max-width: 20rem;
	}
}
