.table-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: $spacing-base 0;
    overflow-x: auto;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

thead {
    line-height: $line-height-heading;
    vertical-align: bottom;

    th,
    td {
        font-weight: 600;
        color: #fff;
        background-color: $color-primary;
    }

    th {
        &:first-of-type {
            border-radius: $border-radius-base 0 0 $border-radius-base;
        }
        &:last-of-type {
            border-radius: 0 $border-radius-base $border-radius-base 0;
        }
    }
}

tbody {
    vertical-align: top;

    tr:nth-of-type(even) {
        background-color: #fff;
    }
}

th,
td {
    padding: $spacing-small;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}