@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    font-family: $font-family;
    font-size: 62.5%;
    color: $color-text;
    line-height: $line-height-base;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.4rem;
    background-color: $background-color-body;

    @media (min-width: $tablet) {
        font-size: 1.6rem;
    }
}