// Base

$mint: #49D38A;
$dream: #9EBCF9;

// Others (Texts, backgrounds, borders...)

$air: #F4F6FA;
$pearl: #E9E9F0;
$silver: #D1D6DE;
$flint: #BEBED7;
$storm: #777D9C;
$midnight: #2E2F5E;

$dust: #9A9DA8;

// States

$emerald: #51BD7C;
$sapphire: #54C0FC;
$gold: #FF9D66;
$ruby: #F45554;