// Media Queries
$largedesktop: 1200px !default;
$smalldesktop: 992px !default;
$tablet: 768px !default;
$largephone: 480px !default;
$smallphone: 320px !default;

// Typography
$font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;

// Line height
$line-height-base: 1.5 !default;
$line-height-heading: 1.2 !default;

// Base color
$color-primary: $mint !default;

// Font Colors
$color-text: $midnight !default;
$color-text-light: $storm !default;

// Background Colors
$background-color-body: $air !default;

// Borders
$border-color: $silver !default;
$border-base: 1px solid $border-color !default;

// States
$color-success: $emerald;
$color-info: $sapphire;
$color-warning: $gold;
$color-danger: $ruby;

// States (disabled)
$disabled-color-text: $storm !default;
$disabled-color-background: $silver !default;

// Focus
$focus-outline-color: transparentize($color-primary, .25) !default;
$focus-outline-width: 1px !default;
$focus-outline: $focus-outline-width solid $focus-outline-color !default;
$focus-outline-offset: 1px !default;

// Other Sizes
$border-radius-base: 5px !default;

$spacing-base: 2em !default;
$spacing-small: $spacing-base / 2 !default;
$spacing-large: $spacing-base * 2 !default;

// Animations
$animation-duration: 250ms !default;
$animation-timing: cubic-bezier(.65, 0, .45, 1) !default;