footer {
    padding: 2rem 0;

    @media (min-width: $tablet) {
        padding: 2.5rem 0;
    }

    p {
        margin: 0;
        color: $font-grey;
        font-size: 1.2rem;
        
        @media (min-width: $tablet) {
            font-size: 1.4rem;
        }
    }
}