.theme-night-mode {
    color: #fff;
    background-color: $helloasso-black;

    p > a,
    section li > a,
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-secondary,
    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active,
    .summary a,
    .summary h4,
    article h2,
    .page-switch a,
    .back-to-top,
    footer p {
        color: #fff;
    }

    .github-corner svg,
    .menu,
    .open-menu,
    .sidebar .sidebar-nav a,
    .sidebar a.current,
    .list-content h3,
    .list-content.list-content-key span {
        color: $helloasso-black;
    }

    header,
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active,
    .fill:before,
    .fill-to-left:before,
    .fill-to-right:before,
    .sidebar-nav a:before,
    thead td,
    thead th,
    tbody tr:nth-of-type(even),
    .list-content span,
    .page-switch a:before,
    .back-to-top:hover,
    .back-to-top:focus,
    .back-to-top:active {
        background-color: darken($helloasso-black, 5%);
    }

    thead tr {
        background-color: darken($helloasso-black, 10%);
    }

    .sidebar,
    .summary h4:after,
    .summary li:before {
        background-color: #fff;
    }

    .btn-primary {
        color: $helloasso-black;
        background-color: #fff;
    }

    .btn-secondary {
        box-shadow: inset 0 0 0 .2rem #fff;
    }

    .btn-secondary:hover {
        box-shadow: inset 0 0 0 .2rem darken($helloasso-black, 5%);
    }

    .list-content.list-content-key span {
        box-shadow: inset 0 0 0 .2rem $helloasso-black;
    }

    .sidebar .sidebar-nav a.current {
        font-weight: 700;
    }
}
