*[class$="-arrow-left"],
*[class$="-arrow-right"] {
    padding: 0;
}

*[class$="-arrow-left"] {
    @media (min-width: $tablet) {
        padding: 0 1rem 0 0;
    }
}

*[class$="-arrow-right"] {
    @media (min-width: $tablet) {
        padding: 0 0 0 1rem;
    }
}
