@{
    ViewBag.MetaTitle = "HelloAsso API - Documentation technique";

    Layout = "~/Views/V2/Shared/_Layout.cshtml";
}

@section styles {
    <link href="/css/v2/api-doc.min.css" rel="stylesheet"/>
}

<div class="container">
    <div class="menu">
        <a href="#presentation">1. Description de l’API HelloAsso</a>
        <a href="#conception">1.1 Principes de conception</a>
        <a href="#format">1.2 Format des échanges</a>
        <a href="#erreurs">1.3 Gestion des erreurs</a>
        <a href="#ressources">1.4 Les ressources</a>
        <a href="#type">1.5 Types et format des données</a>
        <a href="#inventaire">2. Inventaire des ressources</a>
        <a href="#public">2.1 Public</a>
        <a href="#auth">2.2 Authentifié</a>
    </div>
    <div class="doc">
        <h2 id="presentation">Description de l’API HelloAsso</h2>
        <h3 id="conception">Principes de conception</h3>
        <p>L’ensemble des interfaces HelloAsso sont exposées au travers d’une API accessible sur le domaine api.helloasso.com. Celle-ci est structurée suivant les principes REST : les ressources sont exposées sous forme d’url sur lesquelles des appels HTTP GET et POST permettent respectivement de récupérer et modifier les données concernées.<br /><br />HelloAsso ouvre pour ses partenaires des comptes d’application sur son API. Des données d’authentification seront fournies par HelloAsso. Celles-ci permettront aux partenaires, d’accéder aux ressources exposées. Ces données d’authentification doivent être intégrées dans l’en-tête de tous les appels, via le champ Authorization. Tous les appels apis auront donc la forme :</p>

        <div class="url">
            &lt;VERB&gt; https://api.helloasso.com/v2/chemin
            <br />
            Header : <br />
            Authorization : Basic &lt;chaine de connexion&gt;
        </div>

        <p>
            La chaîne de connexion est l’encodage base64 de la chaîne « username :password » ,ainsi que spécifié dans le standard Basic access authentication : <br />
            <a href="https://en.wikipedia.org/wiki/Basic_access_authentication" target="_blank" rel="noopener noreferrer">https://en.wikipedia.org/wiki/Basic_access_authentication</a>
            <br /><br />Les ressources sont nommées de façon explicite et sont arrangées selon la typologie suivante :
            <ul>
                <li>organization : un organisme enregistrée sur l’application du partenaire authentifié.</li>
                <li>campaign : une campagne enregistrée sur l’application du partenaire authentifié.</li>
                <li>report : les statistiques d'un organisme ou d'une campagne du partenaire authentifié.</li>
            </ul>Tous les appels en lecture sont réalisés via une requête http GET. Les appels réalisant un enregistrement d’une nouvelle ressource sont réalisés par une requête http PUT, les modifications sont réalisées en POST. Toutes les requêtes doivent être réalisées en https.
        </p>

        <h3 id="format">Format des échanges</h3>
        <p>Chaque appel à l’API HelloAsso retourne au minimum un code de réponse HTTP. Dans le cas d’usage normal, l’API répond avec un statut HTTP 200, et le contenu de la réponse contient les données sérialisées au format JSON.</p><p>
            L’inventaire des ressources et des données retournées est spécifié dans la section « Inventaire des ressources HelloAsso ».
        </p>
        <h3 id="erreurs">Gestion des erreurs</h3>
        <p>En tant que services REST, les appels à l’API HelloAsso retournent un code http indiquant si l’appel a été correctement traité. Si ce code est différent de 200, cela signifie qu’un problème a été rencontré.</p><p>
            En particulier, voici les différents codes d’erreur HTTP qui sont susceptibles d’être retournés :
        </p><p>
            <b>400 : Bad Request</b>
        </p><p>
            L’url de l’appel est incorrecte. Ce code correspond généralement à une valeur de paramètre incorrecte ou inexistante.
        </p><p>
                <b>401 : Unauthorized</b>
</p><p>
            Les informations d’authentification sont incorrectes ou absentes.
        </p><p>
                <b>404 : Not Found</b>
</p><p>
            L’appel a été correctement interprété et exécuté, mais la ressource demandée n’a pas été trouvée. En règle générale, cela indique que l’identifiant passé en paramètre est incorrect.
        </p><p>
                <b>405 : Method Not Allowed</b>
</p><p>
            L’url de l’appel est correcte, mais la méthode utilisée n’est pas supportée par cette ressource. Par exemple, un appel GET a été réalisé sur une ressource ne pouvant être accédée qu’avec la méthode POST.
        </p><p>
                <b>426 : Upgrade Required</b>
</p><p>
            L’appel a été correctement interprété, mais non exécuté. Ce code est retourné si l’appel est effectué dans un protocole non-sécurisé.
        </p><p>
                <b>500 : Internal Server Error</b>
</p><p>
            Une erreur de traitement a été rencontrée par les serveurs HelloAsso. Dans ce cas, le problème doit être remonté à notre équipe afin que nous puissions en déterminer l’origine et, le cas échéant, appliquer un correctif.
        </p><p>
                <b>503 : Service Unavailable</b>
</p><p>
            Ce code de retour indique que les serveurs HelloAsso sont surchargés. Dans ce cas de figure, l’appel doit être réitéré après le délai indiqué dans le champs d’en-tête Retry-After de la réponse.
        </p><p>
            Outre le code de réponse HTTP, les appels en erreur retournent une réponse contenant plus d’informations sur l’erreur rencontrée. Ces informations apparaissent sous deux formats. Le premier est un message à destination humaine, donnant une indication sur la possible origine du problème. Par exemple, si l’erreur provient d’un paramètre malformé, cela sera indiqué dans le message, avec le nom du paramètre en question.
        </p><p>
            Le deuxième format est un code d’erreur HelloAsso en notation reverse-domain, pouvant donc être automatiquement traité afin de mettre en place différents scénarios de réponses.
        </p><p>
            Voici les différents codes de réponses susceptibles d’être retournés :
        </p><p>
                <b>com.helloasso.api.InvalidResource</b>
</p><p>
            La ressource demandée n’existe pas. La raison en est probablement une url malformée.
        </p><p>
                <b>com.helloasso.api.MissingParameter</b>
</p><p>
            L’accès à la ressource nécessite un paramètre qui n’a pas été fourni. Le message indique alors le paramètre concerné.
        </p><p>
                <b>com.helloasso.api.InvalidParameter</b>
</p><p>
            Un des paramètres fournis n’est pas au format attendu. Le message indique alors le paramètre concerné.
        </p><p>
                <b>com.helloasso.api.InvalidIdentifier</b>
</p><p>
            Un paramètre d’identifiant a été fourni, ne correspondant à aucune donnée enregistrée sur l’application.
        </p><p>
                <b>com.helloasso.api.NonSecureConnection</b>
</p><p>
            L’appel a été réalisé en HTTP, sur une ressource imposant le protocole HTTPS.
        </p><p>
                <b>com.helloasso.api.ServiceUnavailable</b>
</p><p>
            La ressource est actuellement indisponible pour cause de maintenance. Le message indique alors la nature de la maintenance et le temps d’attente estimé avant que la ressource soit à nouveau disponible.
        </p><p>
                <b>com.helloasso.api.ServerError</b>
</p><p>
            Une erreur s’est produite lors du traitement de la demande.
        </p>
        <h3 id="ressources">Les ressources</h3>
        <p>Le format canonique des urls d’accès aux ressources est le suivant :</p>
        <div class="url">/&lt;version&gt;/&lt;type&gt;/&lt;id|slug&gt;.&lt;format&gt;[?paramètres]</div>
        <p>[version] est l’identifiant de version de l’API utilisée. Celui-ci sera valorisé à v2. Les futures mises à jour importantes de l’API engendreront systématiquement un changement de numéro de version.</p><p>
            [type] est le type de ressource demandée. Celui-ci peut prendre deux valeurs :
        </p>
        <ul>
            <li>organizations</li>
            <li>actions</li>
        </ul>
        <p>[id] est l’identifiant unique de la ressource demandée. Celui-ci est normalement récupéré par un autre appel à l’API, ou fournit en retour d’un appel de création d’une nouvelle ressource.</p><p>
            [format] est le format de sérialisation souhaitée. Le format que nous préconisions est le JSON, mais d’autres formats de sérialisation pourront être mis en place.
        </p><p>
            [paramètres] est la chaine des paramètres optionnels attendu par la ressource demandée. Celle-ci se présente sous forme de query string d’url standard.
        </p>
        <h3 id="type">Types et format des données</h3>
        <p>
            Les données échangées à travers l’API HelloAsso, qu’elles soient passées en paramètres, ou retournées dans les réponses, respectent les normes suivantes :<br />
            <ul>
                <li>chaine de caractères : l’encodage utilisé est l’UTF-8</li>
                <li>dates : les dates sont représentées sous forme de timestamp au format ISO 8601. Le 1er février 2015 à midi est ainsi représenté par la chaine 20150201T120000</li>
            </ul>
        </p>
        <h2 id="inventaire">Inventaire des ressources</h2>
        <h3 id="public">Public</h3>
        <h4>Récupération des informations d'un organisme:</h4>
        <div class="url">GET https://api.helloasso.com/v2/public/organizations/{[slug|id]}.json</div>

        <b>Paramètres:</b>
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Obligatoire</th>
            </tr>
            <tr>
                <td>slug</td>
                <td>Le slug d'un organisme</td>
                <td>Chaine de caractères</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td>id</td>
                <td>L'id d'un organisme</td>
                <td>Entier</td>
                <td>Oui</td>
            </tr>
        </table>

        Test <a href="https://api.helloasso.com/v2/public/organizations/le-rire-medecin.json" target="_blank" rel="noopener noreferrer">https://api.helloasso.com/v2/public/organizations/le-rire-medecin.json</a>

        <h4>Récupération des campagnes d'un organisme:</h4>
        <div class="url">GET https://api.helloasso.com/v2/public/campaigns/{organism_slug}/{campaign_type}.json</div>

        <b>Paramètres:</b>
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Obligatoire</th>
            </tr>
            <tr>
                <td>organism_slug</td>
                <td>Le slug d'un organisme</td>
                <td>Chaine de caractères</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td>campaign_type</td>
                <td>Le type des campagnes recherchées</td>
                <td>Enumération, valorisée à "", "event", "fundraiser", "membership"</td>
                <td>Oui</td>
            </tr>
        </table>

        Test <a href="https://api.helloasso.com/v2/public/campaigns/le-rire-medecin/fundraiser.json" target="_blank" rel="noopener noreferrer">https://api.helloasso.com/v2/public/campaigns/le-rire-medecin/fundraiser.json</a>

        <h4>Récupération du détail d'une campagne d'un organisme:</h4>
        <div class="url">GET https://api.helloasso.com/v2/public/organizations/{organism_slug}/{campaign_type}/{campaign_slug}.json</div>

        organism_slug: le slug d'un organisme
        campaign_type : event, fundraiser, membership
        campaign_slug : le slug de la campagne

        <b>Paramètres:</b>
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Obligatoire</th>
            </tr>
            <tr>
                <td>organism_slug</td>
                <td>Le slug d'un organisme</td>
                <td>Chaine de caractères</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td>campaign_type</td>
                <td>Le type des campagnes recherchées</td>
                <td>Enumération, valorisée à "", "event", "fundraiser", "membership"</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td>campaign_slug</td>
                <td>le slug de la campagne</td>
                <td>Chaine de caractères</td>
                <td>Oui</td>
            </tr>
        </table>

        Test <a href="https://api.helloasso.com/v2/public/campaigns/le-rire-medecin/fundraiser/1.json" target="_blank" rel="noopener noreferrer">https://api.helloasso.com/v2/public/campaigns/le-rire-medecin/fundraiser/1.json</a>

        <h3 id="auth">Authentifié</h3>

        <h4>Récupération des organismes du partenaire:</h4>
        <div class="url">GET https://api.helloasso.com/v2/organizations.json</div>

        <h4>Récupération d'un organisme du partenaire:</h4>
        <div class="url">GET https://api.helloasso.com/v2/organizations/{[slug|id]}.json</div>

        <b>Paramètres:</b>
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Obligatoire</th>
            </tr>
            <tr>
                <td>slug</td>
                <td>Le slug d'un organisme</td>
                <td>Chaine de caractères</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td>id</td>
                <td>L'id d'un organisme</td>
                <td>Entier</td>
                <td>Oui</td>
            </tr>
        </table>

        <h4>Récupération des campagnes du partenaire:</h4>
        <div class="url">GET https://api.helloasso.com/v2/campaigns/{organism_slug/}{campaign_type}.json</div>

        <b>Paramètres:</b>
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Obligatoire</th>
            </tr>
            <tr>
                <td>organism_slug</td>
                <td>Le slug d'un organisme</td>
                <td>Chaine de caractères</td>
                <td>Uniquement si le partenaire gère plusieurs organismes</td>
            </tr>
            <tr>
                <td>campaign_type</td>
                <td>Le type des campagnes recherchées</td>
                <td>Enumération, valorisée à "", "event", "fundraiser", "membership"</td>
                <td>Oui</td>
            </tr>
        </table>

        <h4>Récupération du détail d'une campagne du partenaire:</h4>
        <div class="url">GET https://api.helloasso.com/v2/campaigns/{organism_slug/}{campaign_type}/{campaign_slug}.json</div>

        <b>Paramètres:</b>
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Obligatoire</th>
            </tr>
            <tr>
                <td>organism_slug</td>
                <td>Le slug d'un organisme</td>
                <td>Chaine de caractères</td>
                <td>Uniquement si le partenaire gère plusieurs organismes</td>
            </tr>
            <tr>
                <td>campaign_type</td>
                <td>Le type des campagnes recherchées</td>
                <td>Enumération, valorisée à "", "event", "fundraiser", "membership"</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td>campaign_slug</td>
                <td>le slug de la campagne</td>
                <td>Chaine de caractères</td>
                <td>Oui</td>
            </tr>
        </table>

        <h4>Récupération des statistiques:</h4>
        <div class="url">GET https://api.helloasso.com/v2/reports/{organism_slug/}{campaign_type}/{campaign_slug}.{format}?from={from}&amp;to={to}&amp;page={page}&amp;count={count}</div>

        <b>Paramètres:</b>
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Obligatoire</th>
            </tr>
            <tr>
                <td>organism_slug</td>
                <td>Le slug d'un organisme</td>
                <td>Chaine de caractères</td>
                <td>Uniquement si le partenaire gère plusieurs organismes</td>
            </tr>
            <tr>
                <td>campaign_type</td>
                <td>Le type des campagnes recherchées</td>
                <td>Enumération, valorisée à "", "event", "fundraiser", "membership"</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td>campaign_slug</td>
                <td>le slug de la campagne</td>
                <td>Chaine de caractères</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td>format</td>
                <td>format de sorti des statistiques</td>
                <td>Enumération, valorisée à "json" ou "csv"</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td>from</td>
                <td>Date de début de la recher</td>
                <td>Date</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td>to</td>
                <td>Date de fin de la recher</td>
                <td>Date</td>
                <td>Non</td>
            </tr>
            <tr>
                <td>page</td>
                <td>Numéro de la page</td>
                <td>Entier</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td>count</td>
                <td>Nombre d'élément par page</td>
                <td>Entier</td>
                <td>Oui</td>
            </tr>
        </table>
    </div>
</div>