@{
    Layout = "~/Views/V1/Shared/_Layout.cshtml";
}

@section head{
    <title>Conditions Générales d'Utilisation de l'API HelloAsso</title>
    <style>
        h2 {
            color: #777;
            font: 18px Roboto, Arial;
            font-weight: bold;
            margin: 1em 0;
        }

        h3 {
            font-family: Roboto, Arial;
            font-size: 1.4em;
            font-weight: normal;
            border-bottom: 0;
            padding-bottom: 0.3em;
            margin-bottom: 1em;
            margin-top: 2em;
            color: #777;
        }
    </style>
}

<div class="page-content">
    <h1>
        Conditions d'utilisation du service d’API HelloAsso
    </h1>
    <p>
        En utilisant l'API HelloAsso, vous (le «Licencié») acceptez les termes et conditions
        suivantes :
    </p>
    <h2>
        1. Définitions
    </h2>
    <p>
        Droits de Propriété Intellectuelle : tous les brevets, droits d'auteurs, secrets
        commerciaux, savoir-faire, marques et toute autre propriété intellectuelle ou droits
        de propriété de HelloAsso, qu’ils soient ou non déposée, immatriculés ou enregistrés.
    </p>
    <p>
        API HelloAsso : l'ensemble des services Web fournis par HelloAsso sur www.helloasso.com/developers
        pour d'accéder aux données publiques de la plateforme HelloAsso à des fins de
        programmation
    </p>
    <p>
        Fins Autorisées : désigne des fins non-commerciales qui sont conformes à la mission
        de HelloAsso. A titre d'illustration, les applications qui facilitent l’action
        de donner; améliorent la visibilité des associations, analysent des données HelloAsso
        pour identifier ou mettre en évidence des tendances, promeuvent HelloAsso ou améliorent
        l'expérience des utilisateurs ou visiteurs sur helloasso.com entre dans ce champ.
    </p>
    <h2>
        2. Licence
    </h2>
    <p>
        Sous réserve que vous ("Licencié") respectiez tous les termes et conditions de ce
        Contrat de Licence API ("Contrat"), HelloAsso concède au Licencié une licence
        non exclusive, révocable, non cessible, non transférable, d'utiliser l'API HelloAsso
        pour développer, reproduire et distribuer des applications aux Fins Autorisées.
        Le Licencié ne peut utiliser l'API sous licence à d'autres fins, notamment commerciales,
        sans l'accord préalable écrit de HelloAsso. Une application développée ne peut
        notamment pas être utilisé pour vendre de la publicité.
    </p>
    <p>
        Le Licencié ne peut pas utiliser l'API HelloAsso pour des activités qui violent
        toute loi. A titre d'illustration, mais sans s'y limiter, le Licencié ne peut utiliser
        l'API HelloAsso dans le but de distribuer des spywares ou adwares, des spams,
        ou d'autres programmes malveillants. Le Licencié ne peut pas non plus utiliser l’API
        HelloAsso pour réaliser des contenus incitant à la haine, des contenus calomnieux,
        diffamatoire, obscène, pornographique, abusifs ou offensants, ou commettre du phishing.
        En outre, à des fins d'illustration et sans limitation, le Licencié ne doit pas:
        - faussement identifier un produit comme étant approuvé ou produit par HelloAsso,
        - utiliser les données HelloAsso à des fins autres que les Fins Autorisées sans
        le consentement écrit préalable de HelloAsso - déformer d’une quelconque manière
        les données HelloAsso (indépendemment du du fait que cette fausse représentation
        soit ou non intentionnelle) - solliciter ou tenter de solliciter toute information
        au nom de HelloAsso
    </p>
    <h2>
        3. Droits de propriété
    </h2>
    <p>
        Dans les rapports entre HelloAsso et le Licencié, l'API HelloAsso et tous les
        droits de propriété intellectuelle qui s’y réfèrent sont et demeurent en tout temps
        la propriété exclusive de HelloAsso et sont protégés par les lois et traités applicables.
    </p>
    <h2>
        4. Autres restrictions
    </h2>
    <p>
        Le Licencié ne peut pas : - copier, louer, vendre, transférer, céder, concéder sous
        licence, désassembler, ou décompiler, modifier ou altérer tout ou partie de l'API
        HelloAsso - utiliser l'API HelloAsso au nom d'un tiers.
    </p>
    <p>
        Aucun droit ou licence ne sont octroyés, sauf ceux énoncés dans le présent contrat.
    </p>
    <h2>
        5. Obligations supplémentaires
    </h2>
    <p>
        Le Licencié accepte que : - toutes les applications développées permettront de préserver
        la dignité des associations ou utilisateurs, décrits ou mentionnés sur helloasso.com
        - toutes les applications développées indiqueront clairement que l’application n'a
        pas été développée par Maiforgood et n’a pas été validée par HelloAsso - toutes
        les images utilisées dans une application développée seront reliés par lien hypertexte
        vers la page de l’association (ou l'image d'origine si ce n'est pas une image d’association)
        à moins que cette liaison ne soit pas techniquement réalisable.
    </p>
    <p>
        Le Licencié s'engage en outre à préserver (et non masquer ou couvrir) toutes les
        mentions de copyright et autres droits de propriété sur le contenu. A titre d'illustration
        et sans limitation, si, par exemple, vous développez une application qui fournit
        un graphique à partir des données fournies par HelloAsso, vous devez indiquer
        avec précision que les données utilisées proviennent de HelloAsso.
    </p>
    <h2>
        6. Exclusion de garantie
    </h2>
    <p>
        L'API HelloAsso EST FOURNIE "EN L'ETAT" ET SANS GARANTIE D'AUCUNE SORTE.
    </p>
    <p>
        HelloAsso décline toute resposabilité concernant l’API HelloAsso Y COMPRIS,
        SANS LIMITATION, TOUTE GARANTIE IMPLICITE DE QUALITÉ, D'EXACTITUDE, DE DISPONIBILITÉ,
        DE FIABILITÉ , D'ADEQUATION A UN USAGE PARTICULIER, DE JOUISSANCE PAISIBLE ET DE
        NON-VIOLATION DES DROITS DE TIERS, DE PLUS, HelloAsso NE GARANTIT PAS QUE L'UTILISATION
        DU LICENCIÉ DE L'API HelloAsso SERA SANS INTERRUPTION OU SANS ERREUR. LE LICENCIE
        ACCEPTE QUE TOUTE UTILISATION DE L'API HelloAsso SERA À SES PROPRES RISQUES..
    </p>
    <h2>
        8. Limitation de responsabilité
    </h2>
    <p>
        EN AUCUN CAS HelloAsso OU SES FOURNISSEURS NE SERA RESPONSABLE DE TOUTE PERTE
        DE PROFITS, DONNES PERDUES OU CORROMPUES, PANNE OU MAUVAIS FONCTIONNEMENT, INTERRUPTION
        OU D'AUTRES DOMMAGES DIRECTS, SPÉCIAUX, OU INDIRECTS DE QUELQUE NATURE QUE CE SOIT
        DÉCOULANT DE OU EN RELATION AVEC L'UTILISATION OU L'INCAPACITE D’UTILISER l’API
        HelloAsso PAR LE LICENCIE, Y COMPRIS SI HelloAsso A ÉTÉ INFORMÉ DE LA POSSIBILITÉ
        DE TELS PERTES OU DOMMAGES.
    </p>
    <h2>
        9. Indemnité
    </h2>
    <p>
        Le Licencié s'engage à indemniser, défendre et tenir HelloAsso écarté de toutes
        les réclamations, actions, poursuites, procédures, pertes, dépenses, dommages, responsabilités,
        coûts et frais (y compris les honoraires raisonnables d'avocat) en relation avec
        l'utilisation de l'API HelloAsso par le Licencié.
    </p>
    <h2>
        10. Durée et résiliation
    </h2>
    <p>
        Le présent Accord restera jusqu'à sa résiliation selon la présente section. Chacune
        des parties peut résilier le présent Contrat à tout moment, pour n'importe quelle
        raison, ou pour aucune raison, y compris, mais sans s'y limiter, la résiliation
        par HelloAsso si le Licencié viole une disposition du présent Contrat ou si l'exercice
        des droits accordés en vertu des présentes par le Licencié est incompatible avec
        ou est en conflit avec la mission de HelloAsso, les valeurs, les buts ou objectifs.
        Toute résiliation du présent Accord résilie également la licence accordée. En cas
        de résiliation du présent Contrat pour une raison quelconque, le Licencié doit:
    </p>
    <ul>
        <li>
            détruire et enlever tous les ordinateurs, disques durs, réseaux et autres supports
            de stockage de toutes les copies de l'API sous licence
        </li>
        <li>attester à HelloAsso que de telles actions ont a eu lieu,</li>
        <li>cesser d'utiliser et de distribuer toutes les applications développées.</li>
    </ul>
    <p>
        HelloAsso le droit d'inspecter et d'auditer les locaux du Licencié pour confirmer
        ce qui précède. Les articles 3, 6, 8, 9, 10 et 13 survivront à la résiliation du
        présent Accord.
    </p>
    <h2>
        11. Divers
    </h2>
    <h3>
        11.1 Médiation - Juridiction
    </h3>
    <p>
        HelloAsso et le Licencié conviennent de soumettre tout différend qui surviendrait
        entre eux à une procédure de médiation au cours de laquelle une solution amiable
        sera recherchée, avant toute action en justice, sauf urgence dûment constatée et
        recours en conséquence à une procédure de référé déclarée recevable.
    </p>
    <p>
        A défaut de solution trouvée dans le cadre d’un processus de médiation, dans un
        délai de 5 mois à compter de la désignation d’un médiateur, le litige pourra être
        porté devant le tribunal compétent du ressort de la Cour d’Appel de Paris.
    </p>
    <h3>
        11.2 Indépendance
    </h3>
    <p>
        HelloAsso et le LIcencié agissent chacun en leur nom et pour leur propre compte
        et demeurent seules responsables de leurs actes ou omissions, ainsi que ceux de
        leurs salariés, membres ou représentants. A ce titre, HelloAsso et le Licencié
        déclarent, chacun pour son propre compte, qu’aucun lien de quelque nature que ce
        soit existe entre eux, autre que le présent partenariat et qu’aucune communauté
        de dirigeants n’existe entre ces deux entités distinctes. Aucun pouvoir de représenter
        ou d’engager l’autre n’est conféré au titre des présentes conditions générales,
        à l’exception toutefois du mandat aux termes duquel HelloAsso est habilité à recevoir.
        Aucune solidarité ne saurait exister entre le Licencié et HelloAsso du fait des
        obligations nées du partenariat.
    </p>
    <h3>
        11.3 Coût de l’API HelloAsso
    </h3>
    <p>
        L’API HelloAsso est gratuite pour le Licencié. En cas de modification de cette
        clause, HelloAsso informera le Licencié qui pourra si il le souhaite résilier
        instantanément le présent contrat
    </p>
    <h3>
        11.4 Nullité
    </h3>
    <p>
        Si l’une des clauses du présent Contrat était déclarée nulle, la validité du Contrat
        n’en serait pas affectée. Les parties conviennent qu’elles adopteront une clause
        valable qui produira les effets économiques les plus proches de la clause invalidée.
        Il est expressément convenu que dans l’interprétation qui pourrait être faite des
        clauses des présentes conditions générales, il sera tenu compte de l’équilibre contractuel
        explicitement convenu et des objectifs poursuivis.
    </p>
    <h3>
        11.5 Tolérance
    </h3>
    <p>
        Toute tolérance dans l’exercice d’un droit par l’une des parties ne pourra emporter
        novation ou empêcher l’exercice ultérieur de ce droit à tout moment pendant la durée
        des présentes conditions générales.
    </p>
    <h3>
        11.6 Intégralité
    </h3>
    <p>
        Les dispositions du présent Contat et les documents mis à la disposition du Licencié
        sur l’API HelloAsso constituent l’intégralité des dispositions applicables entre
        les parties. Elles annulent et remplacent toutes dispositions qui seraient survenues
        antérieurement, sous quelque forme que ce soit. Toute modification de ces dispositions
        ne peut valablement résulter que d’un avenant écrit signé par HelloAsso et le
        Licencié.
    </p>
    <h3>
        11.7 Notifications et Communications
    </h3>
    <p>
        Pour être réputées valablement effectuées, toutes notifications, réclamations, mises
        en demeure et autres communications devront être adressées par voie de lettre recommandée
        avec demande d'avis de réception, et elles seront réputées avoir été reçues le jour
        suivant la date du tampon de la poste figurant sur l’avis de réception.
    </p>
    <h3>
        11.8 Modification
    </h3>
    <p>
        HelloAsso est en droit de modifier le présent Contrat à tout moment et publiera
        le Contrat modifiés directement sur le site HelloAsso (<a href="https://www.helloasso.com/cgu-association" target="_blank">https://www.helloasso.com/cgu-association</a>).
        Toute modification entrera alors en vigueur dès sa publication par HelloAsso sur
        le site HelloAsso. Une utilisation continue de la part du Licencié après la publication
        d'une nouvelle version des CGU vaut consentement à cette nouvelle version.
    </p>
</div>