@{
    Layout = "~/Views/V1/Shared/_Layout.cshtml";
}

@section head{
    <title>HelloAsso - API</title>
    <style>
        h1 {
            font: 55px 'Roboto Condensed';
            color: #777;
            line-height: 1.3em;
            margin: 0 0 0.51em;
        }

        ul {
            list-style: none;
        }

        li {
            display: block;
            float: left;
            width: 50%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 1em;
            margin: 1em 0;
            height: 150px;
        }

            li h2 {
                margin-bottom: 0.3em;
            }

            li p {
                float: left;
                display: block;
                width: 260px;
            }

            li img {
                float: right;
                position: relative;
                top: -18px;
            }

        table {
            width: 100%;
        }

        td {
            width: 50%;
            vertical-align: middle;
        }

        .table-form {
            margin: 2em 0;
        }

        table tr {
            display: block;
            margin: 1em 0;
        }

        .table-form tr td:nth-child(2n) {
            width: 200px;
        }

        .table-form tr td:first-child {
            width: 100px;
        }

        input[type="text"] {
            width: 100%;
        }
    </style>
}

<div class="grey banner">
    <div class="banner-content content-window" style="padding-top: 3em">
        <div class="content-slider" style="width: 2880px;">
            <div class="content-slide">
                <img src="/images/v1/coeur.png" style="float: left; margin-right: 2em;"/>
                <h1>
                    <span>Développez de nouvelles</span>
                    <br/>
                    <span style="font-size: 63px; letter-spacing: -3px;">applications solidaires</span><br/>
                    <span style="font-size: 71px;">avec HelloAsso !</span>
                </h1>
                <p>
                    Notre API REST met à votre disposition notre réseau d'associations, ainsi que des
                    plugins simples à intégrer pour créer de nouveaux services de collecte.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="page-content" style="margin-bottom: 0">
    <ul>
        <li>
            <h2>
                API de recherche
            </h2>
            <p>
                Notre API REST vous permet de lister les associations présentes sur HelloAsso,
                et vous offre des possibilités de recherche avancées, pour trouver les organisations
                les plus pertinentes pour votre application.
            </p>
            <img src="/images/v1/api-search.png"/>
        </li>
        <li>
            <h2>
                Evolutions
            </h2>
            <p>
                N'hésitez-pas à nous faire part de vos besoins ! Notre API et nos outils sont en
                perpétuelle construction, et nous essayons de couvrir un maximum de besoins.
            </p>
            <img src="/images/v1/api-gears.png"/>
        </li>
        <li>
            <h2>
                Support
            </h2>
            <p>
                Notre équipe technique est à votre disposition pour vous aider à implémenter votre
                solution de solidarité embarquée.
            </p>
            <img src="/images/v1/api-help.png"/>
        </li>
        <li>
            <h2>
                Sécurité
            </h2>
            <p>
                Nos plugins de collecte sont entièrement sécurisés. Toutes nos transactions sont
                cryptées par SSL et sécurisées par le protocole 3-D Secure.
            </p>
            <img src="/images/v1/api-secure.png"/>
        </li>
    </ul>
    <div class="clearfix">
    </div>
</div>
<div class="banner" style="border-top: 1px dashed #ccc;">
    <div class="banner-content">
        <h2>
            Ils utilisent l'API HelloAsso
        </h2>
        <br/>
        <a href="http://www.sfr.com/" class="stealthy need-space" style="margin-left: 0;"><img src="/images/v1/logo-sfr-large.png" alt="SFR"/></a>
        <a href="http://http://www.pagesjaunes.fr/" class="stealthy need-space" style="margin-left: 0;"><img src="/images/v1/logo-pages-jaunes.jpg" alt="Les Pages Jaunes" width="80" height="80"/></a>
        <a href="http://humanogames.com/" class="stealthy need-space"><img src="/images/v1/logo-humano-games.jpg" alt="Humano Games"/></a>
        <a href="http://www.wesign.it/" class="stealthy need-space"><img src="/images/v1/logo-wesignit.png" alt="We sign it"/></a>
        <a href="http://mobileforgood.fr/application/butterfly" class="stealthy need-space"><img src="/images/v1/ButterflyEffect.png" alt="Butterfly Effect" width="110"/></a>
        <a href="http://www.carenews.com/" class="stealthy need-space"><img src="/images/v1/logo-carenews.jpg" alt="CareNews" width="110"/></a>
    </div>
</div>