@{
    Layout = "~/Views/V3/Shared/_Layout.cshtml";
}

<header>
    <div class="container">
        <h1>Documentation de l’API HelloAsso</h1>
        <h2>Retrouvez ici toutes les spécifications de l’API HelloAsso v3.</h2>
        <p class="version-number">Dernière version stable : v3.0.6</p>
    </div>
</header>

<div class="main center">
    <div class="container">
        <div class="list">
            <a href="https://www.helloasso.com/contact" class="list-item" target="_blank">
                <div class="list-content list-content-key cards">
                    <span>
                        <i class="fas fa-unlock"></i>
                    </span>
                    <h3>Je demande ma clé</h3>
                </div>
            </a>
            <a href="/v3/description" class="list-item">
                <div class="list-content list-content-doc cards">
                    <span>
                        <i class="fas fa-book"></i>
                    </span>
                    <h3>Description de l’API HelloAsso</h3>
                </div>
            </a>
        </div>
    </div>
</div>