$helloasso-green: #7cb342;
$helloasso-green-secondary: #7ebe60;
$helloasso-orange: #f28f48;
$helloasso-purple: #d66ea6;
$helloasso-blue: #4f8b9c;
$helloasso-black: #323232;

$cloud: #f8f9fa;
$silver: #e6e6e6;
$stone: #ddd;
$smoke: #9e9e9e;
$space: #444;