// Media Queries
$large-desktop: 1200px !default;
$small-desktop: 992px !default;
$tablet: 768px !default;
$large-phone: 480px !default;
$small-phone: 320px !default;

// Typography
$base-font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;

// Line height
$base-line-height: 1.5 !default;
$heading-line-height: 1.2 !default;

// Base color
$base-color: $helloasso-green !default;

// Font Colors
$base-font-color: $space !default;
$font-grey: $smoke !default;

// Background Colors
$body-background: $cloud !default;
$disabled-background: $smoke !default;

// Borders
$border-color: $silver !default;
$base-border: 1px solid $border-color !default;

// Disabled states
$disabled-color: $smoke !default;
$disabled-background: $silver !default;

// Focus
$focus-outline-color: transparentize($base-color, .25) !default;
$focus-outline-width: 1px !default;
$focus-outline: $focus-outline-width solid $focus-outline-color !default;
$focus-outline-offset: 1px !default;

// Other Sizes
$base-border-radius: 5px !default;
$base-spacing: 2em !default;
$small-spacing: $base-spacing / 2 !default;
$large-spacing: $base-spacing * 2 !default;

// Animations
$base-duration: 250ms !default;
$base-timing: cubic-bezier(.65, 0, .45, 1) !default;