<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <!-- CSS: implied media="all" -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet'
          type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet'
          type='text/css' />
    <link rel="stylesheet" href="/css/v1/style.css" type='text/css' />
    <style>
        .nav-links {
            margin-top: 1em;
        }

            .nav-links a {
                font: 20px Arial;
                margin: 0 0 0 1em;
            }

        footer {
            clear: both;
            background-color: #F8F8F8;
            color: #A0A0A0;
            padding: 20px 0 5px;
        }
    </style>
    <link rel="stylesheet" href="/css/v1/smoothness/jquery-ui-1.8.14.custom.css" type='text/css' />
    @RenderSection("head")
</head>
<body>
    <div>
        <div class="banner-content">
            <div style="float: left;">
                <div id="mailforgood-dev">
                    <a href="/v1/index">
                        <img src="https://www.helloasso.com/Areas/HelloAsso/img/helloasso-logo.png" />
                    </a>
                    <div class="logo-annotation">
                        Développeurs
                    </div>
                </div>
            </div>
            <div class="nav-links" style="float: right">
                <a href="/v1/doc">Documentation</a> <a href="mailto:contact@helloasso.com"
                                                                                      target="_blank" rel="noopener noreferrer">Contact</a>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <form id="form1" runat="server">
        @RenderBody()
    </form>
    <footer>
        <div class="footer-content">
            <span><a href="/v1/cgu">Conditions générales d'utilisation</a></span> -
            <span>Tous droits réservés - Copyright 2012 - Mail For Good</span>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>        window.jQuery || document.write("<script src='/js/libs/jquery-1.7.2.min.js'>\x3C/script>")</script>
    <script src="/js/v1/jquery-ui-1.8.14.custom.min.js"></script>
</body>
</html>
